<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.msdeep14.tripcount">

    <supports-screens
        android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true"
        />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddPlace"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            >
            <intent-filter>
                <action android:name="app.msdeep14.tripcount.AddPlace" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".AddPlaceDetails"
            android:parentActivityName=".AddPlace"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="app.msdeep14.tripcount.AddPlaceDetails" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Display_friend"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="app.msdeep14.tripcount.Display_friend" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Display_friendDetails"
            android:screenOrientation="portrait"
            android:parentActivityName=".Display_friend">
            <intent-filter>
                <action android:name="app.msdeep14.tripcount.Display_friendDetails" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Update"
            android:screenOrientation="portrait"
            android:parentActivityName=".ViewTripDetails">
            <intent-filter>
                <action android:name="app.msdeep14.tripcount.Update" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ViewTripDetails"
            android:parentActivityName=".AddPlace"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="app.msdeep14.tripcount.ViewTripDetails" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>